<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<br>
<div class="container">
  <nav class="navbar navbar-light ">
    <button class="btn btn-success me-2" (click)="onOpenModal(employee, 'add')" type=" button">Add Employee</button>
  </nav>
  <div class="col-md-12" id="main-container">
    <div *ngFor="let employee of employees" class="card b-1 hover-shadow mb-20">
      <div class="media card-body">
        <div class="media-left pr-12">
          <img class="avatar avatar-xl" src="{{employee?.imageUrl}}" alt="...">
        </div>
        <div class="media-body">
          <div class="mb-2">
            <span class="fs-20 pr-16">{{employee?.name}}</span>
          </div>
          <small class="fs-16 fw-300 ls-1">{{employee?.jobTitle}}</small>
        </div>
        <div class="media-right text-right d-none d-md-block">
          <p class="fs-14 text-fade mb-12"><i class="fa fa-map-marker pr-1"></i>{{employee?.address}}</p>
          <span class="text-fade"><i class="fa fa-skype pr-1"></i>{{employee?.skype}}</span>
        </div>
      </div>
      <footer class="card-footer flexbox align-items-center">
        <div class="contact">
          <div>
            <strong><i class="fa fa-phone pr-1"></i></strong>
            <span>{{employee?.phone}}</span>
          </div>
          <div>
            <strong><i class="fa fa-envelope-o pr-1"></i></strong>
            <span>{{employee?.email}}</span>
          </div>
        </div>
        <div class="card-hover-show">
          <a class="btn btn-xs fs-10 btn-bold btn-primary" (click)="onOpenModal(employee, 'edit')" data-toggle="modal"
            data-target="#modal-contact">Edit</a>
          <a class="btn btn-xs fs-10 btn-bold btn-danger" (click)="onOpenModal(employee, 'delete')">Delete</a>
        </div>
      </footer>
    </div>
    <nav>
      <ul class="pagination justify-content-center">
        <li class="page-item active">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
      </ul>
    </nav>
    <br>
  </div>
</div>

<!-- Add Employee Modal -->
<div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addEmployeeModalLabel">Add Employee</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddEmployee(addForm)">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" ngModel name="name" class="form-control" id="name" placeholder="Name" required>
          </div>
          <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" ngModel name="email" class="form-control" id="email" placeholder="Email" required>
          </div>
          <div class="form-group">
            <label for="phone">Job title</label>
            <input type="text" ngModel name="jobTitle" class="form-control" id="jobTile" placeholder="Job title"
              required>
          </div>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" ngModel name="phone" class="form-control" id="phone" placeholder="Phone" required>
          </div>
          <div class="form-group">
            <label for="phone">Image URL</label>
            <input type="text" ngModel name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL"
              required>
          </div>
          <div class="modal-footer">
            <button type="button" id="add-employee-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="updateEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="employeeEditModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateEmployeeModalLabel">Edit Employee {{editEmployee?.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" ngModel="{{editEmployee?.name}}" name="name" class="form-control" id="name"
              aria-describedby="emailHelp" placeholder="Name">
          </div>
          <input type="hidden" ngModel="{{editEmployee?.id}}" name="id" class="form-control" id="id"
            placeholder="Email">
          <input type="hidden" ngModel="{{editEmployee?.employeeCode}}" name="userCode" class="form-control"
            id="userCode" placeholder="Email">
          <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" ngModel="{{editEmployee?.email}}" name="email" class="form-control" id="email"
              placeholder="Email">
          </div>
          <div class="form-group">
            <label for="phone">Job title</label>
            <input type="text" ngModel="{{editEmployee?.jobTitle}}" name="jobTitle" class="form-control" id="jobTitle"
              placeholder="Job title">
          </div>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" ngModel="{{editEmployee?.phone}}" name="phone" class="form-control" id="phone"
              name="phone" placeholder="Phone">
          </div>
          <div class="form-group">
            <label for="phone">Image URL</label>
            <input type="text" ngModel="{{editEmployee?.imageUrl}}" name="imageUrl" class="form-control" id="imageUrl"
              placeholder="Image URL">
          </div>
          <div class="modal-footer">
            <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
            <button (click)="onUpdateEmployee(editForm.value)" data-dismiss="modal" class="btn btn-primary">Save
              changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModelLabel">Delete Employee</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete employee {{deleteEmployee?.name}}?</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button (click)="onDeleteEmployee(deleteEmployee.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>